body {
    background: #18181b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

.FormRoot {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.FormField {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FormLabel {
    color: #71717a;
}

input, textarea {
    background: transparent;
    border: #71717a 1px solid;
    border-radius: 4px;
    padding: 14px 12px;
    color: white;
    max-width: 100%;
    transition: border-color .6s;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #fb923c;
}

h1 {
    font-size: 48px;
    font-weight: 300;
}

a {
    color: #fb923c
}

button {
    background: #fb923c;
    border: none;
    border-radius: 2px;
    padding: 14px 20px;
    transition: opacity .8s;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    color: black;
}

button[disabled] {
    opacity: .5;
}

button:hover {
    opacity: .90;
}

.ResultBody {
    max-width: 800px;
    text-wrap: wrap;
    color: #71717a;
}
